<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="welcome-card">
    
    <ion-img [src]="caminho"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Bem Vindo!</ion-card-subtitle>
      <ion-card-title><b>APP FOTOS</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Realize login abaixo.</p>
      <p></p>

      <ion-item >
      <!-- <ion-label>Usuário</ion-label> -->
        <ion-input name="email" placeholder="Email" [(ngModel)]="userLogin.email"></ion-input>
      </ion-item>
      <ion-item>
      <!-- <ion-label position="floating">Senha</ion-label> -->
        <ion-input name="senha" type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
      </ion-item>
      
      <!-- <br>
      binding .... Por exemplo, consigo pegar em tempo real pegar as informações da senha
      <ion-item>{{password}}</ion-item>
      Exemplo... se quero q um gráfico mude em tempo real na minha tela... se estou monitorando um gráfico 
      https://www.youtube.com/watch?v=rlVxG2lG1Tk&list=PLGxZ4Rq3BOBoSRcKWEdQACbUCNWLczg2G&index=10
      -->

      <br>
      <ion-text class="ion-text-right">
        <p>Esqueceu a <a [routerLink]="['/cadastro']" routerDirection="forward" >senha</a>?</p>
      </ion-text>
      <br>
      <!-- <ion-button expand="block" (click)="realizarLogin()" routerLink="/tabs" color="primary" style="padding-bottom: 8px"> -->
      <!-- <ion-button expand="block" color="primary" style="padding-bottom: 8px" routerLink="/tabs" routerDirection="tabs">
      
      Para gerenciar a autenticação-->
      <ion-button expand="block" color="primary" style="padding-bottom: 8px" (click)="doLogin()">
        Login
      </ion-button>

      <ion-button expand="block" (click)="realizarLogin()" routerLink="/tabs" color="primary" style="padding-bottom: 8px">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>

      <ion-button expand="block" (click)="realizarLogin()" routerLink="/tabs" color="danger" style="padding-bottom: 8px">
        <ion-icon slot="start" name="logo-googleplus"></ion-icon>
        Google
      </ion-button>
    
      <br>
      <p>Não é usuário?</p>
      <p>Faça seu cadastro e aproveite!</p>
      
      <ion-button expand="block" (click)="realizarCadastro()" routerLink="/cadastro" routerDirection="forward" color="secondary" style="padding-bottom: 8px">
        Cadastre-se!
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>