<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="photo">

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <!-- testar o uso de 2 funções no click -->
    <ion-fab-button (click)="takePicture()" (click)="fotografar()"> 
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>